.btn-primary{
  background-color: blue;
  border-radius: 0%;
  border: none;
}
.btn-primary:hover{
  background-color: slategrey;
}

.heading{
  color: blue;
}

.form-control{
  border-radius: 0%;
}

.line{
  width: 200px;
  height: 5px;
  background: black;
  text-align: center;
  margin: auto;
}

.head{
  background-color: blue;
  color: white;
  padding: 20px
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
